@model Proiect.Models.Producator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume_Firma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume_Firma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.An_Aparitie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.An_Aparitie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
